TELEGRAM_API_ID=12345678
TELEGRAM_API_HASH=replace_me
TELEGRAM_CHANNELS=@example_channel,-1001234567890
WECOM_WEBHOOK_URL=https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=replace_me
TELEGRAM_SESSION=telegram_to_wecom
DRY_RUN=0
LOG_LEVEL=INFO
DEDUPE_STATE_FILE=.forwarder-state.json
DEDUPE_LIMIT=10000
FORWARD_MEDIA=1
MAX_MEDIA_BYTES=20971520
